* {
    margin: 0;
    padding: 0; 
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: #0a1929;
}

.material-block {
    background: #001e3c;
    border: #132f4c 1px solid;
    border-radius: 1em;
    margin: 0.5em 0;
    min-height: 1em;
}

#object-title {
    width: 100%;
    color: #fff;
    font-size: 1.8em;
    text-align: center;
    font-family: PlusJakartaSans-ExtraBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.7em;
}

#object-name-again {
    color: #b2bac2;
    font-size: 1.1em;
    font-family: Tahoma,Verdana,Arial;
    font-weight: 500;
}

#object-category {
    color: #6F7E8C;
    text-transform: none;
    font-weight: 400;
}

#object-category::after {
    content: '→';
    margin-right: 0.3em;
    margin-left: 0.2em;
}

#object-labels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.object-label {
    color: #6F7E8C;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.5em;

    background: #082038;
    border: #132f4c 1px solid;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.4em;
}

.object-label-essential {
    color: #ccc;
    background: #e91e6320;
    border: #e91e63 1px solid;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.4em;
}

#main-content {
    display: flex;
    margin: 1em 5%;
    margin-top: 2em;
}

#main-content > div {
    min-height: 100px;
    width: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

@media (max-width: 768px), (orientation : portrait) {
    #main-content {
        flex-direction: column;
    }
    
    #main-content > div {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

#object-description {
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: #fff;
    padding: 0.5em;
}

#object-image {
    width: 100%;
    height: auto;
    margin: 0.5em 0;
    padding: 0;
    border-radius: 1em;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    filter: brightness(100%);
}