* {
    margin: 0;
    padding: 0; 
}

body {
    width: 100%;
    background: #0a1929;
    overflow-x: hidden;
}

.material-block {
    background: #001e3c;
    border: #132f4c 1px solid;
    border-radius: 1em;
    margin: 0.5em 0;
    min-height: 1em;
}

#object-title {
    width: 100%;
    color: #fff;
    font-size: 1.8em;
    text-align: center;
    font-family: PlusJakartaSans-ExtraBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.7em;
}

#object-name-again {
    color: #b2bac2;
    font-size: 1.1em;
    font-family: Tahoma,Verdana,Arial;
    font-weight: 500;
}

#object-category {
    color: #6F7E8C;
    text-transform: none;
    font-weight: 400;
}

#object-category::after {
    content: '→';
    margin-right: 0.3em;
    margin-left: 0.2em;
}

#object-labels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.object-label {
    color: #6F7E8C;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.5em;

    background: #082038;
    border: #132f4c 1px solid;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.4em;
}

.object-label-essential {
    color: #ccc;
    background: #e91e6320;
    border: #e91e63 1px solid;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.4em;
}

#main-content {
    display: flex;
    margin: 1em 5%;
    margin-top: 2em;
}

#main-content > div {
    min-height: 100px;
    width: 50%;
    height: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

@media (max-width: 768px), (orientation : portrait) {
    #main-content {
        flex-direction: column;
    }
    
    #main-content > div {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

#object-description {
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: #fff;
    padding: 0.5em;
}

#object-image {
    width: 100%;
    height: auto;
    margin: 0.5em 0;
    padding: 0;
    border-radius: 1em;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    filter: brightness(100%);
}

.object-stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: calc(100% - 1em);
    padding: 0.4em 0.5em;

    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: #fff;
}

.object-stat:nth-child(even) {
    background: rgb(37, 77, 117);
}

.object-stat:last-child:nth-child(even) {
    margin-bottom: 0.6em;
}

h2 {
    color: #fff;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
}

#object-reports-container {
    width: 90%;
    margin: 0 5%;
}

#object-reports {
    width: calc(100% - 1em);
    margin-left: 0.5em;
}

@media screen and (max-width: 768px) {
    #object-reports {
        width: 100%;
        margin: 0;
    }
}

.object-name-in-reports {
    color: #ddd;
    font-weight: 600;
}

.object-report {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: calc(100% - 1em);
    padding: 0.4em 0.5em;

    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: #fff;
}

.object-report:nth-child(odd) {
    background: rgb(37, 77, 117);
}

.object-report:last-child:nth-child(odd) {
    margin-bottom: 0.6em;
}

.object-report-right-column {
    display: flex;
}

.object-report-name {
    text-decoration: underline;
    cursor: pointer;
}

.object-report-name:hover {
    text-decoration: none;
    color: #999;
}

.object-report-date {
    color: #ccc;
    font-weight: 600;
    display: block;
    width: 8em;
    text-align: right;
}

.object-report-author {
    color: #ccc;
    font-weight: 600;
}

.object-report-name-title, .object-report-date-title, .object-report-author-title {
    text-decoration: none;
    color: #999;
    font-weight: 200;
}

.object-report-date-title {
    width: 8em;
    text-align: right;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 100px;
    border-top: #132f4c 1px solid;
    border-bottom: none;
    margin-top: 2em;
    box-sizing: border-box;
}

.footer-button {
    color: #66b2ff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin: auto 1em;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s;
    border-radius: 0.5em;
    text-decoration: none;
}

.footer-button:hover {
    background: #66b2ff20;
}

.callback-footer-form {
    color: #66b2ff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin: auto 1em;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
}

.callback-footer-form-button {
    fill: #fff;
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    transform: translate(0, -0.2em) scale(100%);
    transition: all 0.3s;
    cursor: pointer;
    opacity: 1;
}

.callback-footer-form-button-good {
    transform-origin: -1.5em;
}

.callback-footer-form-button-bad {
    transform-origin: 0px 6px;
}

.callback-footer-form-button-good:hover {
    fill: #33eb91;
    transform: rotate(-10deg);

}

.callback-footer-form-button-bad:hover {
    fill: #e91e63;
    transform: rotate(-10deg);
}

.callback-footer-form-button-hided {
    opacity: 1;
    fill: #6F7E8C;
}

.callback-footer-form-button-selected {
    fill: #66b2ff;
}